.cookie-banner-section {
  background: #141414;
  padding: 32px 24px;
  width: 100%;
  max-width: 335px;
  margin: 0 auto;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 199px;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 32px 48px;
    max-width: 741px;
    left: auto;
    bottom: 0;
  }
}

.cookie-banner-content-wrapper {
  max-width: 216px;

  @include media(desktop) {
    max-width: 613px;
  }
}

.banner-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 32px;
  right: 48px;

  @include media(desktop) {
    right: 32px;
  }
}

.banner-close-icon {
}

.cookies-banner-title {
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 24px;
  }
}

.cookie-banner-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
}

.cookie-decline-btn {
  border: 1px solid #7738ff;
  padding: 12px 24px;
  width: 100%;
  max-width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.cookie-accept-btn {
  background: #7738ff;
  border: 1px solid #7738ff;
  padding: 12px 24px;
  width: 100%;
  max-width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include media(desktop) {
  }
}

.show-cookie-banner {
  display: block;
}
