.footer {
  border: 0.5px solid #d7d7d7;
  padding-top: 24px;
  padding-bottom: 24px;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.footer-container {
  padding: 0 10px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.footer-nav {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 62px;
  }
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;

  @include media(desktop) {
    gap: 24px;
    margin-bottom: 0;
  }
}

.footer-list-item {
}

.footer-item-link {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 32px;
  }

  &:hover,
  &:focus {
  }
}

.footer-email-link {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;

  @include media(desktop) {
    display: none;
  }
}

.footer-mail-icon {
}

.footer-bottom-wrapper {
  padding-top: 10px;
  border-top: 1px solid #8384e3;

  @include media(desktop) {
    padding-top: 76px;
    border-top: 5px solid #8384e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
  text-align: center;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-email-link-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fffbfb;
  }
}
