.header {
  background: #141414;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.header-bg-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/header/header-figure-mob.png);
  background-repeat: no-repeat;
  background-position: top right 70px;
  background-size: auto;

  @include media(desktop) {
    max-width: 1440px;
    background-image: url(../img/header/header-figure-desk.png);
    background-position: top right 125px;
  }
}

.header-container {
  padding-right: 34px;
  padding-left: 4px;

  @include media(desktop) {
    padding-right: 96px;
    padding-left: 96px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media(desktop) {
    gap: 436px;
  }
}

.header-logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 132px;

  @include media(desktop) {
    margin-left: auto;
    min-width: 186px;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 63px;

  @include media(desktop) {
    min-width: 95px;
  }
}

.header-menu-img {
}
