.hero-section {
}

.hero-bg-wrapper {
  padding-top: 312px;
  padding-bottom: 153px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-right-figure-mob.png),
    url(../img/hero/hero-left-figure-mob.png),
    url(../img/hero/hero-lines-mob.png),
    url(../img/header/header-figure-mob.png);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: bottom right, bottom left, top center, top right 70px;
  background-size: auto, auto, auto, auto;

  @include media(desktop) {
    padding-top: 331px;
    padding-bottom: 40px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-title.png),
      url(../img/hero/hero-right-figure-desk.png),
      url(../img/hero/hero-left-figure-desk.png),
      url(../img/hero/hero-lines-desk.png),
      url(../img/header/header-figure-desk.png);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top 232px right 6px, bottom right, bottom left,
      top center, top right 125px;
    background-size: 231px 560px, auto, auto, auto, auto;
  }
}

.hero-container {
  padding: 0 5px;

  @include media(desktop) {
  }
}

.header-main-title-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 48px;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 78px;

  @include media(desktop) {
    font-size: 24px;
    max-width: 793px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 183px;
  }
}

.hero-scroll-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-scroll-img {
}
