.context-menu {
  box-shadow: -5px 3px 60px 0 #7738ff;
  background: #141414;
  padding: 100px 53px 40px 53px;
  max-width: 325px;
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  height: 100%;
  max-height: 812px;
  overflow-y: auto;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  @include media(desktop) {
    padding: 90px 40px 40px 40px;
    max-width: 480px;
    max-height: 1024px;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;

  @include media(desktop) {
    top: 40px;
    right: 40px;
  }
}

.close-icon {
  @include media(desktop) {
    width: 42px;
    height: 42px;
  }
}

.context-nav {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include media(desktop) {
    gap: 32px;
  }
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  @include media(desktop) {
  }
}

.context-list-item {
  max-width: 218px;
  width: 100%;

  @include media(desktop) {
    max-width: 400px;
  }
}

.context-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    border-bottom: 1px solid #7738ff;
  }

  @include media(desktop) {
    font-size: 48px;
    justify-content: start;
  }
}

.context-privacy-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.context-privacy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.5;
  color: #fff;
  transition: all 0.3s ease-in-out;

  &:active {
    border-bottom: 1px solid #7738ff;
  }

  @include media(desktop) {
    font-size: 40px;
    justify-content: start;
  }
}

.is-open {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  @include media(desktop) {
  }
}

.closed {
  display: none;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
