<section id="cookie-banner" class="cookie-banner-section">
  <div class="cookie-banner-content-wrapper">
    <button
      class="banner-close-btn"
      type="button"
      aria-label="Close cookie banner"
    >
      <svg class="banner-close-icon" width="32" height="32">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="cookies-banner-title">Our Cookies Policy</h2>
    <p class="cookie-banner-text">
      We use cookies to improve your experience on our website. By browsing this
      website, you agree to our use of cookies.
    </p>
    <div class="cookie-banner-buttons">
      <button class="cookie-decline-btn" id="cookie-decline">Decline</button>
      <button class="cookie-accept-btn" id="cookie-accept">Accept</button>
    </div>
  </div>
</section>
