<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <h2 class="section-title contact-title">
        Ready to transform your onboarding?
      </h2>
      <div class="contact-links-wrapper">
        <a href="mailto:training@fastzoneer.site" class="contact-email-link">
          <svg class="contact-mail-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-email"></use></svg
          >training@fastzoneer.site
        </a>
        <a href="mailto:training@fastzoneer.site" class="contact-location-link">
          <svg class="contact-sign-icon" width="21" height="44">
            <use href="./img/sprite.svg#icon-sign"></use>
          </svg>
          FastZoneer LLC, Złota 59, Warsaw, Poland
        </a>
      </div>
    </div>
  </div>
</section>
