<footer class="footer" id="footer">
  <div class="container footer-container">
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a
            class="footer-item-link"
            target="_blank"
            href="./privacy-policy.html"
            >Privacy Policy</a
          >
        </li>
        <li class="footer-list-item">
          <a
            class="footer-item-link"
            target="_blank"
            href="./terms-and-conditions.html"
            >Terms & Conditions</a
          >
        </li>
        <li class="footer-list-item">
          <a
            class="footer-item-link"
            target="_blank"
            href="./cookies-policy.html"
            >Cookies</a
          >
        </li>
      </ul>
      <a href="mailto:training@fastzoneer.site" class="footer-email-link">
        <svg class="footer-mail-icon" width="34" height="34">
          <use href="./img/sprite.svg#icon-email"></use></svg
        >training@fastzoneer.site
      </a>
    </nav>
    <div class="footer-bottom-wrapper">
      <p class="footer-bottom-text">
        © 2025 FastZoneer LLC. All rights reserved.
      </p>
      <a href="mailto:training@fastzoneer.site" class="footer-email-link-desk">
        <svg class="footer-mail-icon" width="34" height="34">
          <use href="./img/sprite.svg#icon-email"></use></svg
        >training@fastzoneer.site
      </a>
    </div>
  </div>
</footer>
