<section class="section hero-section" id="home">
  <div class="hero-bg-wrapper">
    <div class="container hero-container">
      <picture>
        <source
          srcset="./img/hero/hero-main-title-desk.png"
          media="(min-width: 1440px)"
          width="967"
          height="157"
        />
        <source
          srcset="./img/hero/hero-main-title-mob.png"
          width="340"
          height="55"
        />
        <img
          class="header-main-title-img"
          src="./img/hero/hero-main-title-mob.png"
          alt="Title"
          width="340"
          height="55"
        />
      </picture>
      <p class="hero-text">
        FastZoneer transforms traditional onboarding into an engaging, gamified
        experience. Each employee enters a virtual path of zones — from basic
        orientation to advanced role-specific training.
      </p>
      <a href="#contact" class="hero-scroll-btn" aria-label="Scroll to bottom">
        <picture>
          <source
            srcset="./img/hero/hero-scroll-desk.png"
            media="(min-width: 1440px)"
            width="118"
            height="178" />
          <source
            srcset="./img/hero/hero-scroll-mob.png"
            width="54"
            height="80" />
          <img
            class="header-scroll-img"
            src="./img/hero/hero-scroll-mob.png"
            alt="Arrow"
            width="54"
            height="80" /></picture
      ></a>
    </div>
  </div>
</section>
