<section class="section testimonials-section" id="testimonials">
  <div class="testimonials-bg-wrapper">
    <div class="container testimonials-container">
      <h2 class="section-title testimonials-title">What companies say.</h2>
      <ul class="testimonials-list">
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “Our onboarding time dropped from 2 weeks to 5 days. Employees loved
            the interactive style.”
          </p>
          <p class="testimonials-item-company">TechCorp</p>
          <p class="testimonials-item-profesion">HR Lead</p>
        </li>
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “Compliance training no longer feels like a chore. Engagement rates
            doubled.”
          </p>
          <p class="testimonials-item-company">FinServe</p>
          <p class="testimonials-item-profesion">Operations Manager</p>
        </li>
        <li class="testimonials-list-item">
          <p class="testimonials-item-text">
            “It feels like a game, but the results are serious. Great tool for
            global teams.”
          </p>
          <p class="testimonials-item-company">EduLink</p>
          <p class="testimonials-item-profesion">CEO</p>
        </li>
      </ul>
    </div>
  </div>
</section>
