<section class="section tools-section" id="tools">
  <div class="tools-bg-wrapper">
    <div class="container tools-container">
      <h2 class="section-title tools-title">Learning through action.</h2>
      <ul class="tools-list">
        <li class="tools-list-item">
          <img
            class="tools-img"
            src="./img/tools/tools-test.png"
            alt="Test"
            width="83"
            height="69"
            loading="lazy"
          />
          <p class="tools-item-title">Quizzes & Challenges</p>
          <p class="tools-item-text">Test knowledge after each zone</p>
        </li>
        <li class="tools-list-item">
          <img
            class="tools-img"
            src="./img/tools/tools-lock.png"
            alt="Lock"
            width="83"
            height="68"
            loading="lazy"
          />
          <p class="tools-item-title">Simulated Scenarios</p>
          <p class="tools-item-text">
            Practice real-life decisions in a safe environment
          </p>
        </li>
        <li class="tools-list-item">
          <img
            class="tools-img"
            src="./img/tools/tools-cup.png"
            alt="Cup"
            width="83"
            height="68"
            loading="lazy"
          />
          <p class="tools-item-title">Leaderboards & Badges</p>
          <p class="tools-item-text">
            Motivate teams through healthy competition
          </p>
        </li>
        <li class="tools-list-item">
          <img
            class="tools-img"
            src="./img/tools/tools-ai.png"
            alt="Ai"
            width="83"
            height="68"
            loading="lazy"
          />
          <p class="tools-item-title">AI Tutor</p>
          <p class="tools-item-text">Provides hints and instant feedback</p>
        </li>
      </ul>
    </div>
  </div>
</section>
