<section class="zones-section section" id="zones">
  <div class="zones-bg-wrapper">
    <div class="container zones-container">
      <h2 class="section-title zones-title">Choose your training path.</h2>
      <div class="zones-swiper-container">
        <ul class="swiper-wrapper zones-swiper-wrapper">
          <li class="swiper-slide zones-slide">
            <p class="zones-slide-title">Zone 1</p>
            <p class="zones-slide-subtitle">Orientation</p>
            <p class="zones-slide-text">Company basics, mission, values</p>
          </li>
          <li class="swiper-slide zones-slide">
            <p class="zones-slide-title">Zone 2</p>
            <p class="zones-slide-subtitle">Compliance</p>
            <p class="zones-slide-text">
              Safety, policies, GDPR, workplace ethics
            </p>
          </li>
          <li class="swiper-slide zones-slide">
            <p class="zones-slide-title">Zone 3</p>
            <p class="zones-slide-subtitle">Skills Boost</p>
            <p class="zones-slide-text">
              Interactive scenarios by role (sales, support, IT)
            </p>
          </li>
          <li class="swiper-slide zones-slide">
            <p class="zones-slide-title">Zone 4</p>
            <p class="zones-slide-subtitle">Mastery</p>
            <p class="zones-slide-text">
              Realistic simulations & decision-making challenges
            </p>
          </li>
        </ul>
      </div>
      <div class="controls zones-controls">
        <button
          class="arrow-btn"
          id="zonesLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-left-filled"></use>
          </svg>
        </button>
        <div class="dots">
          <div class="zones-dot active"></div>
          <div class="zones-dot"></div>
          <div class="zones-dot"></div>
          <div class="zones-dot"></div>
        </div>
        <button class="arrow-btn" id="zonesRightArrow" aria-label="Next slide">
          <svg class="arrow-icon" width="44" height="44">
            <use href="./img/sprite.svg#icon-arrow-right-filled"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
